
.header-container {
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: column;
    background-color: #ffffff;   
}

.header-content {
    padding: 20px;
    display: flex;
}

.icon-logo-header {
    width: 15%;
    height: 100%;
    display: flex;
}

.menu-header {
    width: 45%;
    height: 100%;
    display: flex;
    margin-right: 0%;
    /* flex-direction: row; */
    margin-left: auto;
}

.btn-menu {
    width: 115px;
    height: 55px;
    color: black;
    font-size: 17px;
    font: sans-serif;
    border: none;
    background-color: #ffffff;
}

.ul-button-menu {
    display: flex;
    flex-direction: row;
    margin: 0;
    list-style: none;
}

/* ---------------menu----------------------- */
